body {
  height: 100vh;

  background-image: linear-gradient(
    rgb(6, 49, 56),
    rgb(10, 111, 136),
    rgb(42, 143, 138)
  );
}

nav {
  border-bottom: 10px solid rgb(42, 143, 138);
}

.mine-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgb(226, 228, 110);
  padding: 17px;
  border-radius: 11px;
  box-shadow: 0 4px 9px;
  width: 40%;
  margin: 11px;
}
.form h4 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem 0.5rem;
}

.div {
  display: flex;
  flex-direction: column;
}
.input {
  margin: 0.3rem 1rem;
  padding: 0.7rem 0.5rem;
  border-radius: 10px;
  border: 1px solid gray;
}

.input::placeholder {
  text-align: center;
  font-size: 1rem;
  color: grey;
}

.btn-mine {
  width: 40%;
  box-sizing: border-box;
  display: block;
  margin: 1rem 0 2rem 12rem;
  border-radius: 3px;
  background-color: rgb(3, 133, 3);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
